.section-services {
    .layout {
        .services__wrapper_cards {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;

            @media (min-width: 375px) and (max-width: 767px) {
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 20px;
            }

            .cards {
                width: 280px;
                height: 400px;
                border: 1px solid rgba($color: #000000, $alpha: 0.3);
                border-radius: 10px;
                position: relative;
                background-color: #ffffff;
                padding: 20px 20px;
                transform: translate(0px, 0px);
                transition: all 400ms ease-in-out;
                box-shadow: 0 1px 3px 1px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);

                @media (min-width: 1360px) and (max-width: 1439px) {
                    width: 250px;
                    height: 400px;
                }

                @media (min-width: 375px) and (max-width: 767px) {
                    display: none;
                    height: 75vh;
                }

                .card-header {
                    margin-bottom: 20px;
                    margin-top: 20px;

                    @media (min-width: 375px) and (max-width: 767px) {
                        margin-bottom: 10px;
                        margin-top: 10px;
                    }
                    span {
                        font-size: 16px;
                        position: relative;
                        text-transform: uppercase;
                        font-weight: 600;

                        @media (min-width: 1360px) and (max-width: 1439px) {
                            font-size: 14px;
                        }

                        @media (min-width: 375px) and (max-width: 767px) {
                            font-size: 14px;
                        }

                        &::after {
                            content: '';
                            width: 100%;
                            height: 2px;
                            background-color: $color2;
                            position: absolute;
                            bottom: -10px;
                            left: 0;
                        }
                    }
                }
                .card-body {
                    margin-top: 40px;
                    height: 250px;

                    @media (min-width: 375px) and (max-width: 767px) {
                        margin-top: 20px;
                        max-height: 250px;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        li {
                            margin-bottom: 20px;
                            margin-left: 20px;
                            list-style: disc;
                            font-size: 14px;

                            @media (min-width: 1360px) and (max-width: 1439px) {
                                font-size: 13px;
                            }

                            @media (min-width: 375px) and (max-width: 767px) {
                                margin-bottom: 10px;
                                font-size: 12px;
                            }
                        }
                    }
                }
                .card-footer {
                    a {
                        display: block;
                        position: relative;
                        color: $color1;
                        width: 180px;
                        height: 40px;
                        border: 1px solid $color1;
                        line-height: 40px;
                        text-align: center;
                        background-image: linear-gradient($color1, $color1);
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: 0% 100%;
                        transition: background-size 500ms, color 500ms,;
                        margin: 20px auto auto auto;
        
                        &:hover {
                            background-size: 100% 100%;
                            color: #fff;
                            border: 1px solid $color2;
                        }
                    }
                }

                &:hover {
                    transform: translate(0px, -30px);
                    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
                    @media (min-width: 375px) and (max-width: 767px) {
                        transform: translate(0px, 0px);
                    }
                }
            }
            
            .card-mobile {
                display: none;
                @media (min-width: 375px) and (max-width: 767px) {
                    display: block;
                }
            }
        }
    }
}

