.header {
    margin-top: 16%;
    position: relative;
    z-index: 2;

    
    @media (min-width: 1440px) and (max-width: 1919px) {
        margin-top: 10%;
    }

    @media (min-width: 1024px) and (max-width: 1279px) {
        margin-top: 8%;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        margin-top: 10%;
    }

    @media (min-width: 375px) and (max-width: 767px) {
        margin-top: 20%;
    }

    @media (min-width: 320px) and (max-width: 374px) {
        margin-top: 30%;
    }

    .layout {
        text-align: center;

        .logo {
            height: 95px;
            overflow: hidden;

            @media (min-width: 1440px) and (max-width: 1919px) {
                height: 77px;
            }

            @media (min-width: 375px) and (max-width: 767px) {
                height: 70px;
            }

            @media (min-width: 320px) and (max-width: 374px) {
                height: 70px;
            }

            .logo-btn {
                @include Orelega;
                color: #fff;
                font-size: 90px;

                @media (min-width: 1440px) and (max-width: 1919px) {
                    font-size: 70px;
                }

                @media (min-width: 375px) and (max-width: 767px) {
                    font-size: 55px;
                }

                @media (min-width: 320px) and (max-width: 374px) {
                    font-size: 55px;
                }

                span {
                    font-weight: bold;
                }
            }

            h1 {
                text-indent: 9999px;
            }
        }
    }
}

.portfolio {
    margin-top: 30px;
    position: relative;
    z-index: 2;
    max-width: 550px;
    margin: 0 auto;

    @media (min-width: 1440px) and (max-width: 1919px) {
        margin-top: 15px;
    }

    .layout {
        text-align: center;
        
        .everything {
            margin-top: 22px;
            
            p {
                @include Roboto;
                font-size: 30px;
                color: #fff;

                @media (min-width: 1440px) and (max-width: 1919px) {
                    font-size: 25px;
                }

                @media (min-width: 375px) and (max-width: 767px) {
                    font-size: 20px;
                }

                @media (min-width: 320px) and (max-width: 374px) {
                    font-size: 20px;
                }
            }
        }
        .btn-portfolio {
            margin-top: 60px;

            @media (min-width: 320px) and (max-width: 374px) {
                margin-top: 40px;
            }

            .btn-port {
                @include Roboto;
                @include transition-treatment_2;
                background-color: transparent;
                color: #fff;
                padding: 20px 30px;
                border-radius: 3px;
                font-size: 25px;
                text-transform: uppercase;
                border: 1px solid #f77000;
                

                @media (min-width: 1440px) and (max-width: 1919px) {
                    padding: 20px 20px;
                }

                
                @media (min-width: 1024px) and (max-width: 1279px) {
                    padding: 15px 15px;
                    font-size: 20px;
                }

                @media (min-width: 768px) and (max-width: 1023px) {
                    padding: 15px 15px;
                    font-size: 20px;
                }

                @media (min-width: 375px) and (max-width: 767px) {
                    padding: 10px 10px;
                    font-size: 18px;
                }

                @media (min-width: 320px) and (max-width: 374px) {
                    padding: 10px 10px;
                    font-size: 18px;
                }

            }

            .btn-port:hover {
                color: #fff;
                background: #f77000;
                color: #fff;
                border: 1px solid transparent;
                cursor: pointer;
            }
        }
    }

}

.social {
    position: relative;
    z-index: 2;
    max-width: 550px;
    margin: 60px auto 60px auto;

    @media (min-width: 1024px) and (max-width: 1279px) {
        margin-top: 60px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        margin-top: 60px;
    }

    @media (min-width: 375px) and (max-width: 767px) {
        margin-top: 60px;
    }

    @media (min-width: 320px) and (max-width: 374px) {
        margin-top: 60px;
    }

    .layout {
        text-align: center;

        h3 {
            @include Roboto;
            margin-bottom: 30px;
            color: #fff;
            font-size: 20px;
            font-weight: 400;
        }
        
        .wrapper-social {
            display: flex;
            justify-content: center;

            .nav-social {
                display: flex;
                
                &_item {
                    margin-right: 10px;

                    &-link {
                        @include Roboto;
                        @include transition-treatment_2;
                        padding: 10px 20px;
                        background-color: #f77000;
                        color: #fff;
                        border-radius: 3px;
                        font-size: 18px;
                        text-transform: lowercase;
                        border: 1px solid transparent;

                        @media (min-width: 320px) and (max-width: 374px) {
                            padding: 10px 15px;
                            font-size: 15px;
                        }
                    }


                    &-link:hover {
                        color: #fff;
                        background: transparent;
                        border: 1px solid #f77000;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dg.ac {
    display: none;
}

#title {
    display: none;
}

