/* Brand Colors ------------------------------------------------*/
$color1: #0158b5;
$color2: #f7ce00;
$color3: #ffffff;
$color4: #666;
$color5: #18181e;
$font-color: #e60c0c;
$placeholder: $color2;
$base-font-weight: 300;
$brand-font-1: '',sans-serif;
$brand-font-2: '',sans-serif;
